@import 'partials/reset';
// @import 'partials/normalize';

@keyframes jumping {
	0% {bottom: 0;}
	50% {bottom: 200px;}
	100% {bottom: 0;}
}

#hero {
	width: 30px;
	height: 80px;
	border: 2px solid red;
	position: absolute;
	bottom: 0;


}

.jump {
	animation: jumping 0.5s infinite;
}

.battleground {
	width: 100%;
	height: 500px;
	border-bottom: 2px solid black;
	position: relative;
}